NGINX_IMAGE_NAME=nginx
NGINX_IMAGE_VERSION=1.22

PHP_IMAGE_NAME=php
PHP_IMAGE_VERSION=7.4-fpm

MARIADB_IMAGE_NAME=mariadb
MARIADB_IMAGE_VERSION=10.8
MARIADB_ROOT_PASSWORD=<<<YOUR PASSWORD>>>
MARIADB_DATABASE=stage
